@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer base {
  :root[data-theme='light'] {
    --sl-color-bg-nav: #ECF5FF;
  }
  :root[data-theme='dark'] {
    --sl-color-text-accent: #FF19B6;
  }
}
