<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="RVO Datahub is a web portal for exploring and downloading offshore wind data sets." />
    <title>RVO &mdash; Offshore Wind Datahub</title>
  </head>
  <body data-user-external-id="{{ user.external_id }}" data-user-username="{{ user.username }}" data-django-csrf-token="{{csrf_token}}" data-azure-account-name="{{ AZURE_ACCOUNT_NAME }}" data-azure-container-name="{{ AZURE_CONTAINER_NAME }}" data-profile-url="{{ PROFILE_URL }}" data-environment="{{ ENVIRONMENT }}" data-ci-commit-sha="{{ CI_COMMIT_SHA }}" data-ci-commit-tag="{{ CI_COMMIT_TAG }}">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
